ErrorDocument 404 "Lo sentimos, pero vas a tener que irte por donde has venido"
ErrorDocument 404 /ENLDWECProyectoDWEC/error/404.html
ErrorDocument 403 /ENLDWECProyectoDWEC/error/403.html
ErrorDocument 500 /ENLDWECProyectoDWEC/error/500.html